<p id="notice"><%= notice %></p>

<p>
  <b>Recipe:</b>
  <%= @meal.recipe_id %>
</p>

<p>
  <b>Completed date:</b>
  <%= @meal.completed_date %>
</p>


<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
